
body {
  font-family: arial;
}
.container {
  text-align: center;
}
img {
  margin-top: 10%;
}
input {
  width: 630px;
  height: 40px;
  border-radius: 10000px; <!--overload to assure circular ends-->
  margin: 20px;
}
input:hover {
  box-shadow: 0px 0px 5px 3px #f0f0f0;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
li {
  float: left;
}
li.right {
  float: right;
}
li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #646464;
  font-size: 20px;
}
li a:hover{
  text-decoration: underline;
}
footer li.right {
  float: right;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}
.btn{
  border-radius:5px;
  border-width: thin;
  border-color: #f5f5f5;
  border: 0px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #f5f5f5;
  color: #767676;
}
.btn:hover{
  border-color: #00000;
  border: 1px;
  box-shadow: 0px 1px 2px 1px #e0e0e0;
}
<!-- Border on button hover does not show up... -->
